* {
    color: black;
}

input {
    background-color: #fff;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.search-bar {
    display: flex;
    justify-content: center;
}

.search-bar > label {
    display: flex;
    align-items: center;
}
